@page
@model FreeBilling.Web.Pages.CustomerBillingModel
@{
}
@section header {
    <base href="/customerBilling" />
}

@* // Specific to development *@
@section scripts {
    <script type="module" src="http://localhost:55297/src/main.js"></script>

}
<div id="app"></div>