AUTHOR_CODE/
timestamps.txt

.hg/
.vs/
[Bb]in
[Dd]ebug*/
.idea/
obj/
packages/
_TBD/

Thumbs.db
desktop.ini
#Ignore files build by Visual Studio
*_i.c
*_p.c
*.aps
*.bak
*.cache
.hgignore
*.ilk
*.log
*.ncb
*.pch
*.sbr
*.suo
*.user
*.vspscc
[Rr]elease*/
_ReSharper*/