body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
select, textarea, input[type=text] {
    font-size: 18px;
    width: 200px;
}
label {
    font-weight: bold;
    margin-bottom: 4px;
}
#theForm {
    background-color: lightgray;
}
#theForm input[type=submit] {
    width: 150px;
    font-size: 24px;
    margin-top: 10px;
}
.team-list {
    font-size:small;
}
.team-list .team-item{
    border: 1px solid #dddddd;
    display: inline-block;
    padding: 2px 4px;
    margin-right: 10px;
}
.team-list .team-item img {
    width:100px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 2px;
}