<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - JurisTempus</title>
  <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  @RenderSection("head", required: false)
</head>
<body>
  <div class="w-screen h-screen">
    <div class="w-full md:w-4xl p-8 mx-auto">
      <header class="mx-auto min-h-[4rem]">
        <div class="flex justify-between">
          <h3 class="font-bold text-2xl"><a href="/">&#8986; Client Billing App</a></h3>
          <ul class="flex font-bold text-amber-800">
            <li>
              <a class="mx-2 hover:text-amber-600 hover:font-medium" href="/">Home</a>
            </li>
            <li>
              <a class="mx-2 hover:text-amber-600 hover:font-medium" href="/clientEditor">Clients</a>
            </li>
            <li>
              <a class="mx-2 hover:text-amber-600 hover:font-medium" href="/timesheet">Timesheet</a>
            </li>
            <li>
              <a class="mx-2 hover:text-amber-600 hover:font-medium" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </header>
      <div class="border-b border-t">
        <main role="main" class="pb-3">
          @RenderBody()
        </main>
      </div>

      <footer class="border-t text-muted">
        <div>
          &copy; 2025 - JurisTempus - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
      </footer>
    </div>
    @RenderSection("Scripts", required: false)
  </div>
</body>
</html>
